*{padding: 0; margin: 0; box-sizing: border-box !important;}


body{
    background-image: url("images/riz-champ-vert-herbe-paysage-coucher-soleil_30824-134.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color : RGBa(255, 255, 0, 0.5);

}

img{
    width: 100%;
}

/* Add a black background color to the top navigation */
.topnav {
    background-color: #c7e22de3;
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #0c0c0c;
    text-align: center;
    padding: 16px 98.7px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: rgb(211, 37, 37);
    color: rgb(0, 0, 0);
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #c7e22de3;
    color: rgb(221, 13, 13);
  }

footer{
    font-size: 1.5em;
    text-align: center;
    color: red;
    padding: 3em 0 3em;
    background-color: #c7e22de3;
}